gaw.ds.ajhs.li {
    root * /data/sites/gaw
    file_server browse
}
ogp.ds.ajhs.li {
    root * /data/sites/ogp
    file_server browse
}
ogpo.ds.ajhs.li {
    root * /data/sites/ogpo
    file_server browse
}
